#menu-list{
    background-color: transparent;
    font-size: 24px;
;
}
#menu-side, #pick-side {
    border: transparent;
    background-color: transparent;
    float: left;
}

#main-menu{
    position: fixed;
    right: 30px;
    top: 200px;

}

h1{
    color: red;
    margin-left: 35rem;
}

.section, .footer, .header {
    border: 0;
    margin: 2px 2px white;
    background-color: rgb(132, 113, 77);
    font-family:'Courier New', Courier, monospace;
}

.header{
    background-color: grey;
}

.footer{
    background-color: grey;
}

#pp{
    padding: 20px white;
    background-origin: padding-box;
    border: solid white 2px;
    border-radius: 50%;
}