#menu-list{
    background-color: lightblue;
    margin: 2rem 30rem;
}
#menu-side, #pick-side {
    background-color: lightseagreen;
    float: right;
}

h1{
    color: red;
    margin-left: 35rem;
}

.section, .footer, .header {
    background-color: orange;
}

.header{
    background-color: grey;
}

.footer{
    background-color: grey;
}